	html,body{-webkit-user-select:none; user-select: none; }
	
	*{margin:0px;padding:0px;}

	div::-webkit-scrollbar{  /* 隐藏滚动条 */
		display: none !important;
		width: 0px;  
		height: 0px;  
	}
	
	.homeTop{position: fixed;background-size:100% 100% !important;z-index:1;background-color:#000;  }

	.homeList{position: relative;left:0%;margin-bottom:100px; width:100%;line-height:100px;font-size:45px;z-index:0;color:white; }
	.homeListLogo{position:relative;left:4%;top:-100px;width:100px;height:100px;background-size:100% 200% !important;}
	
	.liveListImg{position:absolute;width:80%;height:70%;left:50%;top:50%;transform:translate(-50%,-50%)}

	img{width:100%;height:100%;} 
	
	.channels{position:relative;left:0px;top:0px;width:100%;height:270px;line-height:270px;font-size:50px;color:white;z-index:0;}
	
	.channelID{position:relative;top:0px;left:0px;width:30%;height:270px;line-height:271px;border-bottom:1px #333333 solid;background-size:100% 100% !important;text-align: center;}
	
	.channel{position:relative;top:-271px;left:30%;width:69%;height:270px;line-height:271px;text-align:center;border-bottom:1px #333333 solid;}

	.liveLine{position:absolute;top:20%;left:100%;width:5px;height:60%;border-radius:5px;background-color: #333333;}

	.listImg{float: left;width:28%;height:400px;margin-bottom:100px;margin-left: 4%;background-size:100% 100% !important;border-radius:10px;}
	.listName{position: relative;left:0px;top:315px;width:100%;height:100px;line-height: 100px; text-align: center;font-size: 38px;color:white;}

	.homeLoopImg{width:5%;height:500px;background-size:100% 100% !important;float:left;}
	.homeLoopTitle{position:relative;left:2%;width:98%;height:100px;line-height:100px;top:370px;font-size:40px;overflow:hidden;color:white;}
	.homeLoopCircle{width:20px;height:20px;margin-left:20px;border-radius:50%;background-color:white;float: left;}

	.homeRecommendImg{float: left;width:46%;height:220px;margin-left: 4%;background-size:100% 100% !important;border-radius:10px;}
	.homeRecommendEpisode{position: relative;left:0px;top:170px;width:90%;height:50px;line-height:50px; text-align:right;font-size: 30px;color:white;overflow: hidden;}
	.homeRecommendName{position: relative;left:0px;top:170px;width:100%;height:50px;line-height:50px; text-align: center;font-size: 35px;color:white;overflow: hidden;}

	.vodList{position:absolute;left:0px;width:100%;display:none;}
/*	.vodListImg{position:relative;left:0px;top:0px;width:100%;background-size:100% 100% !important;z-index:1;}	*/
	.vodListName{position:relative;left:0px;top:0px;width:100%;max-height:500px;overflow:auto;line-height:100px;text-align:center;font-size:50px;color:white;}
	.hotSearch{position:relative;float:left;left:5%;width:40%;height:80px;text-align:left;overflow:hidden;font-size:40px;color:darkgray;}
	.searchHistory{position:relative;float:left;left:5%;width:90%;max-height:800px;line-height:80px;text-align:left;overflow:hidden;font-size:40px;color:darkgray;}
	.hotSearchNum{border-radius:10px;text-align:center;}
	
	.lockKey{position:absolute;top:25%;width:10%;height:100px;line-height:100px;font-size:120px;border-bottom:10px yellow ridge;}
	
	.lockNumR{position:absolute;width:33.3%;height:25%;font-size:100px;font-weight:900;display:flex;align-items:center;justify-content:center;border-top:10px yellow ridge;border-right:10px yellow ridge;text-shadow:-5px 5px 5px #000;}
	
	.lockNum{position:absolute;width:33.3%;height:25%;font-size:100px;font-weight:900;display:flex;align-items:center;justify-content:center;border-top:10px yellow ridge;text-shadow:-5px 5px 5px #000;}

	.detailText{position:relative;left:4%;width:92%;max-height:150px;overflow:auto;line-height:50px;font-size:40px;color:white;background-size: 100% 100% !important;float: left;margin-bottom:20px;}

	.detailText2{position:relative;left:4%;width:92%;height:70px;line-height:80px;background-color:black;font-size:45px;color:#f7a333;float: left;margin-bottom:20px;}

	.PersonalCenter{position:relative;left:10%;width:40%;height:100px;font-size:55px;color:white;text-shadow:-5px 5px 5px #000;float: left;margin-top:30px;text-align: left;}

	.PersonalCenterR{position:relative;width:48%;height:100px;font-size:55px;color:white;text-shadow:-5px 5px 5px #000;float: left;margin-top:30px;text-align: right;}

	.login{position:relative;width:80%;height:100px;line-height:100px;font-size:55px;color:black;margin-left:10%;text-align: center;}

	.login-top{position:absolute;top:30%;left:10%;width:45%;height:90px;line-height:40px;padding-top:10px;text-align:center;font-size:40px;border-radius:5em;}

	.login-input{width:100%;height:100%;text-align:center;border-style: solid; border-width: 0px 0px 1px 0px;border-radius:0;background:transparent;outline:none;}

	.login-submit{position:relative;width:60%;height:100px;line-height:100px;font-size:55px;color:white;margin-left:20%;text-align: center;top:50%;border-radius:60px 60px 60px 60px;background:linear-gradient(to right,#6633cc,#000066);}


	.login-submit-small{position:relative;width:41%;height:100px;line-height:100px;font-size:50px;color:white;margin-left:6%;text-align: center;top:50%;border-radius:60px 60px 60px 60px;background:linear-gradient(to right,#6633cc,#000066);float: left;}

	.login-prompt{position:relative;width:80%;height:100px;line-height:100px;font-size:45px;color:gray;margin-left:10%;text-align: center;top:45%;}

	.promptCollect{position: fixed;;left:20%;top:40%;width:60%;height:300px;line-height:300px;text-align:center;color:#f7a333;font-size:80px; font-weight:900; text-shadow:-5px 5px 5px #000; background:url(img/null.png);background-size:100% 100% !important;-webkit-transition:1s; opacity:0;background-color:gray;border-radius:5px;}

	.guess{width:31%;height:400px;float:left;background-size:100% 100% !important;}

/*	.num{position:absolute;width:50px;height:50px;border-radius:50% 50%;border:#F0F 2px solid;color:#F0F;}
*/	
	.zhiBoImg{position:relative;left:0%;top:0px;width:100%;background-size:100% 100% !important;background-color: #f7a333;z-index:2;}
	.zhiBoName{position:absolute;bottom:0px;width:100%;height:100px;line-height:100px;text-align:center;font-size:60px;font-weight:900;color:red;}

	.zoneImg{position:relative;left:4%;top:0px;width:26%;height:360px; border-radius:10px; background-size:100% 100% !important;}
	.zoneText{position:relative;left:36%;top:-360px;width:60%;height:90px;line-height:90px;overflow:hidden;font-size:40px;}
	.zoneText2{position:relative;left:36%;top:-360px;width:60%;max-height:300px;line-height:50px;overflow:hidden;font-size:35px;}	

	.shareImg{position:absolute;left:10%;top:0px;width:80%;height:600px;}

	.shareButton{position:absolute;left:20%;top:0px;width:60%;height:100px;line-height:100px;text-align:center;background:linear-gradient(to right,#6633cc,#000066);border-radius:5em;font-size:55px;}

	.tab-head{
		list-style-type: none;
		display:-webkit-box;
		display:-webkit-flex; 
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-wrap:nowrap;	
		-ms-flex-wrap:nowrap;	
		flex-wrap:nowrap;	
		-webkit-box-pack:justify;	
		-ms-flex-pack:justify;	
		-webkit-justify-content:flex-start;	
		justify-content:flex-start;
		background:black;/*#D3D3D3;	<!--FF4878-->*/
		padding:0px;
		overflow:auto;
		border-top:0px gray solid;
		color:white;
		font-size:50px;
      }
	.tab-head-item{
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;/*#081925;*/
		margin:0px 50px 0px 50px;
		width:100px;
		height:150px;
		background-size:100% 100% !important;
	}
	.tab-tab1-item{
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		font-size: 40px;
		text-align: center;
		margin:0px 0px 0px 0px;
		width:150px;
		height:120px;
		line-height: 60px;
		background-size:50% 100% !important;
	}
	.tab-tag2_3-item{
	/*	-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;*/
		flex:0 0 auto;
		color:white;/*#081925;*/
		font-size: 39px;
		margin:0px 0px 0px 0px;
		padding:0px 30px 0px 30px;
		height:58px;
		border-radius:40px;
		background-size:100% 100% !important;
	}
	.tab-live-item{	
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		padding:0px 30px 0px 30px;
		font-size:50px;
		text-shadow:-0px 0px 0px #000;
	}
	.tab-homeLive-item{	
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		text-align:center;
		margin-right:4%;
		margin-bottom:40px;
		width:20%;
		height:230px;
		background-size:75% 75% !important;
	}
	.tab-homeLive-groupName{position:relative;top:230px;height:40px;line-height:40px;font-size:35px; overflow: hidden;}

	.tab-chooseChapter-item{	
	/*	-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;*/
		flex:0 0 90px;
		color:black;
		font-weight: 900;
		margin-right:4%;
		padding-top:0px;
	/*	width:90px;*/
		height:90px;
		text-align:center;
		line-height:90px;
		background-size:100% 100% !important;
		background-color: snow;
		border-radius:15px;
	}
	
	.tab-guess-item{
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		text-align:center;
		margin-right:4%;
		margin-bottom:100px;
		width:31%;
		height:400px;
		background-size:100% 100% !important;
	}
	.tab-guessName{position:relative;top:420px;height:50px;line-height:50px;font-size:45px;}

	.tab-hot-item{
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		text-align:center;
		margin-right:4%;
		margin-bottom:100px;
		width:23%;
		height:300px;
		background-size:100% 100% !important;
	}
	.tab-hotName{position:relative;top:220px;height:50px;line-height:50px;font-size:35px;overflow: hidden;}
	.tab-score{position: relative;left:50%;top:0px;width:105px;height:90px;line-height:60px;text-align:center;background:url(img/scoreBg.png);background-size:100% 100%;font-size:30px;}
	
	.tab-highScore-item{
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		text-align:center;
		margin-left:4%;
		width:23%;
		height:300px;
		background-size:100% 100% !important;
	}
	.tab-highScore-item2{
		-webkit-box-flex:1;
		-webkit-flex:1 0 auto;
		-ms-flex:1 0 auto;
		flex:1 0 auto;
		color:white;
		padding-left:20px;;
		width:50%;
		height:300px;
		background-color: #333333;
	}
	.tab-highScoreName{position:relative;height:70px;line-height:70px;font-size:35px;overflow: hidden;}

	